{
	"presets": ["env", "react"],
	"env": {
		"production": {
			"presets": ["react-optimize"]
		},
		"development": {
			"plugins": [
				"transform-class-properties",
				"transform-es2015-classes"
			]
		}
	}
}
